<div class="card d-flex" style="width: 400px;">

    <!-- Image -->
    <a th:href="'/battle/' + ${battle.getId()}">
        <img class="card-img-top" th:src="@{${battle.getImage()}}" alt="Card image cap">
    </a>

    <!-- Body -->
    <div class="card-body">

        <!-- Title -->
        <b class="card-title" th:text="${battle.getName()}"></b>
        <br>

        <!-- Duration -->
        <small th:text="${@commonUtils.getFormattedDuration(battle.getDuration())}" style="margin-bottom: 2rem"></small>

        <!-- Lyrics -->
        <p class="card-text erb-lyrics" th:text="${battle.getLyrics()}"></p>

        <!-- Buttons -->
        <div class="d-flex justify-content-between">

            <!-- YouTube -->
            <a th:href="${battle.getYoutubeLink()}" target="_blank" class="btn btn-primary"><i class="fab fa-youtube"></i> YouTube</a>

            <!-- Spotify -->
            <a th:href="${battle.getSpotifyLink()}" target="_blank" class="btn btn-primary"><i class="fab fa-spotify"></i> Spotify</a>

            <!-- Details -->
            <a th:href="'/battle/' + ${battle.getId()}" class="btn btn-primary"><i class="fas fa-search"></i> Details</a>
        </div>
    </div>
</div>