<div class="card" style="width: 18rem;">
    <img class="card-img-top" th:src="@{${battle.getImage()}}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title" th:text="
                                ${battle.getName()} +
                                ' (' + ${@commonUtils.getFormattedDuration(battle.getDuration())} +
                                ')'">
        </h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Watch on YouTube</a>
        <a href="#" class="btn btn-primary">Listen on Spotify</a>
        <a href="#" class="btn btn-primary">See lyrics</a>
    </div>
</div>

<p th:text="'This is the battle ' + ${battle.getName()} + '!'">
<p th:text="'Its duration is ' + ${@commonUtils.getFormattedDuration(battle.getDuration())}">
<div>
    <b>LYRICS:</b>
    <p style="white-space: pre;" th:text="${battle.getLyrics()}">
</div>