<div class="card d-flex" style="width: 400px;">

    <!--/*@thymesVar id="character" type="com.anpora.erbhub.dto.CharacterDTO"*/-->
    <!--/*@thymesVar id="actor" type="com.anpora.erbhub.dto.ActorDTO"*/-->

    <!-- Image -->
    <a th:href="'/character/' + ${character.getId()}">
        <img class="card-img-top" th:src="${character.getImage()}" alt="Card image cap">
    </a>

    <!-- Body -->
    <div class="card-body">

        <!-- Title -->
        <b class="card-title" th:text="${character.getName()}"></b>
        <br>

        <!-- Description -->
        <p class="card-text erb-description" th:text="${character.getDescription()}"></p>

        <!-- Actors -->
        <div>
            Actors:
            <a
                    th:each="actor : ${character.getActors()}"
                    th:href="'/actor/' + ${actor.getId()}"
                    th:text="(${actor.getAlias()} ?: ${actor.getName()}) + ' | '">
            </a>
        </div>
    </div>
</div>